[Desktop Entry]
Type=Application
Version=1.0
Name=SPICE Viewer
GenericName=SPICE Remote Viewer
Comment=Open Proxmox / virt-viewer SPICE connection files (.vv)
Exec=spice-viewer %f
TryExec=spice-viewer
Icon=spice-viewer
Terminal=false
Categories=Network;RemoteAccess;System;
MimeType=application/x-virt-viewer;
Keywords=SPICE;Proxmox;VDI;remote;virt-viewer;console;
StartupNotify=true
